$primary-menu-color: #B6B6B6;
$primary-menu-btn-text-color: #ffffff;
$primary-menu-btn-bg : rgba(64,123,255, 69%);
$primary-menu-btn-bg-hover : rgba(42,66,119, 100%);

.header {
	display: flex;
	width: 100%;
	height: 80px;
	margin-top: 35px;

	.logo {
		width: 15%;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	}

	.menu {
		width: 55%;
		display: flex;
		font-size: 35px;
		justify-content: space-around;
		color: $primary-menu-color;

		ul {
			display: flex;
			width: 40%;
			justify-content: space-around;
			align-items: center;

            li {
                height: 50px;
                cursor: pointer;
                &:hover {
                    border-bottom: 2px solid $primary-menu-btn-bg-hover;
                }

				a {
					color: $primary-menu-color;
				}
            }
		}
	}

	.signUp {
		width: 30%;
		display: flex;
		justify-content: center;
		align-items: center;

		.signUp-btn {
			display: flex;
			background-color: $primary-menu-btn-bg;
			color: $primary-menu-btn-text-color;
			padding: 25px;
			justify-content: space-around;
			height: 40px;
			align-items: center;
			border-radius: 0.5rem;
			cursor: pointer;

            &:hover {
                background-color: $primary-menu-btn-bg-hover;
            }
            .signUp-text {
                letter-spacing: 5px;
				margin: 0px 15px;
            }
		}
	}
}
