.searchArea {
	display: flex;
	flex-wrap: wrap;

	.searchArea-btn {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 25px;

		.search-input {
			display: flex;
			width: 80%;
			background-color: var(--primary-btn-bg-45);
			padding: 20px 0px;
			border-radius: 15px;

			.search-icon {
				width: 5%;
				display: flex;
				justify-content: center;
				align-items: center;

				svg {
					height: 30px;
					width: 30px;
					color: var(--primary-menu-btn-text-color);
				}
			}

			.filter-input {
				width: 90%;

				input {
					background-color: transparent;
					outline: none;
					border: none;

					&::placeholder {
						color: var(--primary-menu-btn-text-color);
					}
				}
			}
		}
	}

	.searchJobs {
		width: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-top: 75px;
		padding: 0px 25px;
		.job {
			height: 250px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			align-content: center;
			background-color: var(--primary-btn-bg-20);
			margin-bottom: 20px;
			border-radius: 10px;

			.firm-logo {
				width: auto;
				height: 50%;

				img {
					margin-top: 15px;
				}
			}

			&:nth-child(odd) {
				background-color: var(--primary-color-f1);
				box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
			}
		}
	}

	.searchMode {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100px;
		.more-jobs {
			a {
				padding: 15px 50px;
				background-color: var(--primary-btn-bg-45);
				height: 100%;
				border-radius: 15px;
				font-size: 1.5rem;
				color: var(--primary-menu-btn-text-color);
				transition: all 0.35s;

				&:hover {
					background-color: var(--primary-menu-btn-bg-hover);
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.searchArea {
		.searchArea-btn {
			.search-input {
				width: 90%;
				padding: 10px 0px;

				.search-icon {
					width: 20%;
				}

				.filter-input {
					width: 80%;

					input {
						width: 100%;
						font-size: 1.5rem;
					}
				}
			}
		}
		.searchJobs {
			.job {
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: 576px) {
	.searchArea {
		.searchArea-btn {
			.search-input {
				width: 90%;
				padding: 10px 0px;

				.search-icon {
					width: 20%;
				}

				.filter-input {
					width: 80%;

					input {
						width: 100%;
						font-size: 1.5rem;
					}
				}
			}
		}

		.searchJobs {
			.job {
				width: 49%;
			}
		}
	}
}

@media screen and (min-width: 992px) {
	.searchArea {
		.searchJobs {
			.job {
				width: 32%;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.searchArea {
		padding: 0 100px;
		margin-top: 50px;

		.searchArea-btn {
			.search-input {
				width: 80%;
				padding: 20px 0px;

				.search-icon {
					width: 5%;

					svg {
						height: 30px;
						width: 30px;
					}
				}

				.filter-input {
					width: 90%;

					input {
						font-size: 1.7rem;
					}
				}
			}
		}
		.searchJobs {
			.job {
				width: 15%;
			}
		}
	}
}
