.btn-modal {
    padding: 15px;
    background-color: var(--primary-btn-bg-45);
    height: 100%;
    border-radius: 5px;
    font-size: 15px;
    color: var(--primary-menu-btn-text-color);
    transition: all 0.35s;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-btn-bg);
    }
}

.btn-modal-mobile {
    position: absolute;
    top: 15px;
    display: inline-block;
    right: 15px;
    border: none;
    cursor: pointer;
    outline: none;

    svg {
        color: var(--primary-btn-bg);
        width: 30px;
        height: 30px;
    }
}
